@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/lato-v22-latin-ext_latin-regular.woff2') format('woff2'),
  url('../fonts/lato-v22-latin-ext_latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/open-sans-v27-latin_cyrillic-ext-regular.woff2') format('woff2'), 
  url('../fonts/open-sans-v27-latin_cyrillic-ext-regular.woff') format('woff'); 
}