.header__title-box {
  display: block;
  width: 465px;
  margin: 0 auto;
  margin-bottom: 29px;
}
.header__title {
  font-family: "Lato" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.header__bottom-link {
  display: block;
  width: 137px;
  font-family: "Lato" , "Arial" , sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;
  color: #00D6B4;
  padding: 10px 26px;
  border: 1px solid #00D6B4;
  border-radius: 3px;
  margin: 0 auto;
}